@import'anima.css';

#container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    transition: ease-in all 1s;
}

/*=========================================== HEADER ==============================================*/
header#header{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    background-color: #fff2;
    backdrop-filter: blur(10px);
    z-index: 1;
    color: #331046;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 1px 5px #aaaaaa;
}
header#header #logo h1{
    background: linear-gradient(45deg, #05bddd, #f11a7e);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Hanalei', cursive;
    animation: texto 2s forwards;
}
header#header #logo h1:hover{
    
}
header#header i{
    font-size: 2em;
}

header#header nav{
    position: relative;
    display: flex;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
header#header nav:hover ul{
    display: block;
}
header#header ul{
    width: 200px;
    top: 10vh;
    position: absolute;
    right: 0px;
    background: #fff2;
    backdrop-filter: blur(10px);
    border: 1px solid #b3b3b3;
    box-shadow: 0 1px 5px #aaaaaa;
    padding-top: 10px;
    display: none;
    border-radius: 0 0 10px 10px;
    z-index: 9999;
}
header#header li{
    padding:  10px;
    color: rgb(83, 83, 83);
}

/*============================ FIM HEADER==================================*/

/*================================= MAIN ==================================*/

main#main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    width: 100%;
    height: auto;
    margin-top: 10vh;
    position: relative;
}
main#main .colunas{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5px ;
}


main#main img{
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    object-fit: cover;
    box-shadow: 0 0 5px #331046;
    cursor: pointer;
}
main#main img:hover{
    transform: rotate(-5deg);
    box-shadow: 0 0 25px #331046;
}
main#main img.coluna--1{
    height: 20vh;
}
main#main img.coluna--2{
    height: 40vh;
}
main#main img.coluna--3{
    height: 60vh;
}
/*================================================= FIM MAIN ====================================================*/

/*================================================== MODAL ======================================================*/
#modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff2;
    backdrop-filter: blur(10px);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: ease-in-out all 5s;
}
#modal--main{
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    margin: 10vh auto;
    box-shadow: 0 0 10px #000;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#imgMain{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
#imgMain img{
    width: 100%;
    height: 100%;
    height: inherit;
    position: absolute;
    border: 1px solid #000;
    transition: all ease-in-out 1s;
    animation: apareceImg 2s;
}
#descMain{
    position: relative;
    background: #191919;
    display: flex;
    flex-direction: column;
}
#modalMsgHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}
#modalMsgMain{
    height: 60vh;
    border-bottom:1px solid  #303030;
    border-top:1px solid  #303030;
    overflow: hidden;
}
#MainMsg{
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 1s;
}
#Descphoto{
    padding: 20px;
    line-height: 25px;
    width: 100%;
    transition: all ease-in-out 1s;
    animation: apareceImg 2s;
}
#Descphoto h1{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
#MsgMain{
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    text-align: justify;
    overflow-y: scroll;
    padding: 5px;
}
#MsgMain .MsgMain{
    padding:15px;
   border: 1px solid #464646;
   margin-bottom: 20px;
   color: #fff;
   width: 100%;
   min-height: 40px;
   display: grid;
   grid-template-columns: 1fr 4fr ;
   grid-template-rows: 50px auto;
   grid-template-areas: 'userPhoto userName' 'userMsg userMsg';
}

.userPhoto{
    width: 100%;
    position: relative;
    grid-area:userPhoto ;
}
.userPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userName{
    padding: 5px 10px;
    grid-area:userName ;
    display: flex;
    flex-direction: column;
    
}
.userName h4{
    text-transform: uppercase;
    padding-bottom: 10px;
}
.Data-Post{
    grid-area: Data-Post;
    color: #8f8e8e;
}
.userMsg{
    border-top: 1px solid #464646;
    grid-area:userMsg ;
    padding: 10px 0;
    margin-top: 15px;
}
#Descphoto p{
    letter-spacing: 1;
    text-align: justify;
    color: #fff;
}
#modalMsgFooter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalMsgFooter .footerDesc{
    flex-grow: 1;
    text-align: center;
}

/*================================================== FIM DO MODAL ======================================================*/

/*==================================================== SCROLL ==========================================================*/

#MsgMain::-webkit-scrollbar {
    width: 12px;
}
 
#MsgMain::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#MsgMain::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#MsgMain::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #66656580; 
}
#cor:checked ~ #container{
    background-color: #202020;
}
#cor:checked ~ #container #menu{
    background-color: #202020;
}